mixin cardVacancy(item, isWhite = false)
  .card-vacancy(class=`${isWhite ? 'card-vacancy--white' : ''}`)&attributes(attributes)
    .card-vacancy__top 
      +date(item.date)
      .card-vacancy__location  
        img.card-vacancy__location-flag(src=item.countryFlag alt="")
        p=item.location

    .card-vacancy__title= item.job
    .card-vacancy__text= item.description

    button.btn.card-vacancy__btn View Vacancy Details
