mixin cardVacancie(item, isAvailable)
  if isAvailable
    .card-vacancies&attributes(attributes)
      .card-vacancies__top 
        +date(item.date)
        .card-vacancies__locatoion  
          img.card-vacancies__locatoion-flag(src=item.countryFlag alt="")
          p=item.location

      .card-vacancies__title= item.job
      .card-vacancies__text= item.description

      button.btn.card-vacancies__btn View Vacancy Details
  else 
    .card-vacancies-occupied&attributes(attributes)
      .card-vacancies__top 
        +date(item.date)
        .card-vacancies__locatoion  
          img.card-vacancies__locatoion-flag(src=item.countryFlag alt="")
          p=item.location

      .card-vacancies__title-occupied= item.job
      .card-vacancies__text-occupied= item.description
